# Large MCMC outputs
models/storage/
models/mnCIsave/
models/tmp/

# Local literature PDFs
literature/

# Manuscript drafts / LaTeX build
manuscripts/

# Models subfolders not for version control
models/figures/
models/stan/
models/old/
models/tables/

# OS / editor junk
.DS_Store
Thumbs.db
*.asv
*~
